/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body {
	background-color: #efefef
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px 20px;
}

h1 {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	padding: 40px 0;
	position: relative;
}

h1:before {
	content: "";
	position: absolute;
	width: 100px;
	height: 3px;
	background-color: crimson;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	animation: animate 4s linear infinite;
}

@keyframes animate {
	0% {
		width: 100px;
	}
	50% {
		width: 200px;
	}
	100% {
		width: 100px;
	}
}


.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 200px);
	gap: 10px;
}



.gallery__item--1 {
	grid-column: 1 / span 1;
	grid-row: 1 / span 2;
}

.gallery__item--2 {
	grid-column: 2 / span 1;
	grid-row: 1 / span 2;
}

.gallery__item--5 {
	grid-column: 4 / span 1;
	grid-row: 1 / span 2;
}

.gallery__item--6 {
	grid-column: 1 / span 1;
	grid-row: 3 / span 2;
}

.gallery__item--7 {
	grid-column: 2 / span 2;
	grid-row: 3 / span 2;
}

.gallery__item--10 {
	grid-column: 1 / span 1;
	grid-row: 5 / span 2;
}

.gallery__item--11 {
	grid-column: 2 / span 1;
	grid-row: 5 / span 2;
}

.gallery__item--12 {
	grid-column: 3 / span 1;
	grid-row: 5 / span 2;
}

.gallery__item--13 {
	grid-column: 4 / span 1;
	grid-row: 5 / span 2;
}

.gallery__link {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery__overly {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	font-size: 24px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.4);

	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s;
}

.gallery__link:hover  .gallery__overly {
	opacity: 1;
}


.gallery__overly span {
	position: relative;
	line-height: 48px;

}

.gallery__overly span:before, 
.gallery__overly span:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 0;
	background-color: #fff;
	transition: width .2s ease-out .2s;
}

.gallery__overly span:before {
	top: 0;
	left: 0;
}

.gallery__overly span:after {
	bottom: 0;
	right: 0;
}

.gallery__link:hover .gallery__overly span:before, 
.gallery__link:hover .gallery__overly span:after {
	width: 100%;
}

.gallery__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform .5s;
	transition: filter: .5s;
}

.gallery__link:hover .gallery__img {
	transform: scale(1.1);
	filter: blur(2px);
}

footer {
	background-color: #000;
	color: #fff;
}

footer .container {
	padding: 0;
}

footer span {
	font: 18px Arial, sans-serif;
  	display: inline-block;
  	transform: rotate(180deg);
  	padding-right: 10px;
}

.copyleft {
	font-size: 18px;
}

.footer__wrapper {
	padding:20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 940px){
	.container {
		padding: 10px;
	}

	.gallery {
		grid-template-columns: repeat(3, 1fr);
	}

	.gallery__item--1 {
	grid-column: 1 / span 1;
	grid-row: 1 / span 2;
	}

.gallery__item--2 {
	grid-column: 2 / span 1;
	grid-row: 1 / span 2;
	}
.gallery__item--3 {
	grid-column: 3 / span 1;
	grid-row: 1 / span 1;
	}

.gallery__item--4 {
	grid-column: 3 / span 1;
	grid-row: 2 / span 1;
	}

.gallery__item--5 {
	grid-column: 1 / span 1;
	grid-row: 3 / span 2;
	}

.gallery__item--6 {
	grid-column: 2 / span 1;
	grid-row: 3 / span 2;
}

.gallery__item--7 {
	grid-column: 1 / span 2;
	grid-row: 5 / span 2;
}

.gallery__item--8 {
	grid-column: 3 / span 1;
	grid-row: 3 / span 1;
}

.gallery__item--9 {
	grid-column: 3 / span 1;
	grid-row: 4/ span 1;
}

.gallery__item--10 {
	grid-column: 3 / span 1;
	grid-row: 5 / span 2;
}

.gallery__item--11 {
	grid-column: 1 / span 1;
	grid-row: 7 / span 2;
}

.gallery__item--12 {
	grid-column: 2 / span 1;
	grid-row: 7 / span 2;
}

.gallery__item--13 {
	grid-column: 3 / span 1;
	grid-row: 7 / span 2;
}
}

@media screen and (max-width: 640px) {
	.gallery {
		display: block;
	}

	.gallery__item {
		margin: 5px;
	}
}